
<footer>
    <p class="text-center text-gray-500 text-sm mt-8">
      Por <a href="https://github.com/code3743" target="_blank">code3743</a> | Inspirado en el trabajo de <a href="https://midu.dev/" target="_blank">midudev</a>
    </p>
</footer>

<style>
    footer {
        padding: 1rem;
        background-color: #f9fafb;
    }
    footer a {
        color: #3b82f6;
        font-weight: 700;
    }
    footer a:hover {
        text-decoration: underline;
    }
</style>