---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Contrata a jota para crear tu aplicaci贸n m贸vil, materializa tus ideas." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Jota L贸pez" />
		<meta name="keywords" content="Desarrollador, Aplicaciones M贸viles, Backend, Web Scraping, APIs, Node.js" />
		<title>{title}</title>
	</head>
	<body class="mx-auto container ">
		<slot />
	</body>
</html>

<style is:global>
	 html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }
</style>